.img{
    
position: absolute;
left: 39.75%;
right: 39.75%;
top: 38.8%;
bottom: 24.74%;
}
.welc{

position: absolute;
width: 359px;
height: 50px;
left: 184px;
top: 118px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
/* identical to box height */


color: #777A87;
}
.any{
    position: absolute;
width: 253px;
height: 31px;
left: 184px;
top: 178px;

font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 31px;

color: #777A87;
}